body {
    background-color: #B5D7E2;
    text-align: justify ;
    
}

header {
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 50px auto;
    text-align: justify;
    line-height: 1.6;
  }

  h3 {
      text-align: center;
  }